/* card text-bg-primary px-2 py-2 d-flex flex-row align-items-center */
.word-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
}

#big-word-btn {
    font-size: 5rem;
}

#word-letters button {
    font-size: 2rem!important;
    width: 4rem;
}

.word-letters-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}